<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Menu de navegação -->
    <nav class="navbar">
        <div class="navbar-left">
            <div class="logo-container">
                <img src="/media/logo_do_instoky.png" width="90rem" alt="logo da marca">
            </div>
        </div>
        <div class="navbar-center">
            <a href="/estoque" class="nav-link">Estoque</a>
            <span class="divider"></span>
            <a href="/brinquedos" class="nav-link">Brinquedos</a>
            <span class="divider"></span>
            <a href="/pedidos" class="nav-link">Pedidos</a>
        </div>
        <div class="navbar-right">
            <a href="/faq" class="nav-link">FAQ</a>
            <span class="divider"></span>
            <div class="icon-container">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </nav>

    <!-- Conteúdo dinâmico das páginas -->
    <main>
        {% block content %}
        <!-- Conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>

    <!-- Scripts adicionais -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>
