{% extends "estoque/base.html" %}

{% block title %}Brinquedos{% endblock %}

{% block extra_head %}
<style>

.brinquedo-item {
    border: 2px solid;
}

</style>
{% endblock %}

{% block content %}
<h1>Meus brinquedos:</h1>
<ul class="brinquedos-lista">
    {% for brinquedo in brinquedos %}
    <div class="brinquedo-item"> 
        <div class="brinquedo-card">
            <img class="brinquedo-imagem" width="100px" height="100px" src="{{ brinquedo.imagem.url }}" alt="Imagem do brinquedo">
            <p>{{brinquedo}}</p>
            <p>Codigo: {{brinquedo.codigo}}</p>
            <p>{{brinquedo.descricao}}</p>
            <p>Quantidade no estoque: {{brinquedo.quantidade}}</p>
        </div>
        <a href="{% url 'brinquedo' brinquedo.id %}">Processo de criação</a>
    </div>
    {% empty %}
    <p>Nenhum brinquedo cadastrado ainda.</p>
    {% endfor %}
</ul>
<a href="{% url 'brinquedos_cadastro' %}" class="botao-registrar">Registrar novo brinquedo</a>

{% endblock %}

