{% extends "estoque/base.html" %}

{% block title %}Brinquedo{% endblock %}

{% block content %}

{% block extra_head %}
<style>
    details > summary 
    {
        margin-left: 50%;
        padding: 4px;
        width: max-content;
        background-color: #eeeeee;
        border: none;
        box-shadow: 1px 1px 2px #bbbbbb;
        cursor: pointer;
    }
    details > p 
    {
        background-color: #eeeeee;
        padding: 4px;
        margin: 0;
        box-shadow: 1px 1px 2px #bbbbbb;
    }
</style>
{% endblock %}

<details class="receita-card">
    <summary>Descrição do passo a passo</summary>
    <p>{{brinquedo.passo_a_passo}}</p>
</details>

{% endblock %}