{% extends "estoque/base.html" %}

{% block title %}Cadastro de Brinquedos{% endblock %}


{% block content %}
<h1>Registre um brinquedo:</h1>
    <form method="post">
        {% csrf_token %}
        <p>Brinquedo:</p>
        <input type="text" name="brinquedo" >
        <p>Codigo:</p>
        <input type="text" name="codigo" required>   
        <p>Quantidade:</p>
        <input type="number" min="0" name="quantidade" required>
        <p>Descricao:</p>
        <textarea name="descricao" style="width: 400px;" id="descricao" rows="8"></textarea>
        <p>Passo a passo:</p>
        <textarea name="passo a passo" style="width: 400px;" id="passo a passo" rows="8" ></textarea>

        <p> Escolha os materiais:</p>
        <ul>
            {% for material in materiais %}
            <div>
                <label>
                    <input type="checkbox" name="material_{{material.id}}">
                    {{material.material}} 
                </label>
                <input type="number" name="quantidade_{{material.id}}" min="1" placeholder="Quantidade">
            </div>
        {% endfor %}
        </ul>
        <button type="submit" name="registro_brinquedo" value="brinquedo">Registrar brinquedo</button>
    </form>
    {% endblock %}