{% extends "estoque/base.html" %}

{% block title %}Estoque{% endblock %}

{% block extra_head %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .estoque-full-container {
        border: 2px solid #A0A0A0;
        border-radius: 10px;
        width: 70%;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .estoque-search-bar {
        display: flex;
        margin-bottom: 20px;
    }

    .estoque-search-bar input, 
    .estoque-search-bar button {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .material-list {
        max-height: 500px;
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #ffffff;
    }

    .material-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        border: 2px solid rgb(181, 172, 172);
        border-radius: 10px;
        background-color: rgb(207, 205, 205);
    }

    .material-left, .material-center, .material-right {
        margin: 10px;
    }

    .material-left img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    .material-center {
        flex: 2;
    }

    .material-center p {
        margin: 5px 0;
        color: #555;
    }

    .material-right {
        text-align: right;
    }

    .material-right li {
        list-style: none;
        margin: 5px 0;
    }

    .add-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .add-button:hover {
        background-color: #0056b3;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

</style>
{% endblock %}

{% block content %}
    <h1>Estoque de Materiais</h1>
    
    <form method="get" action="{% url 'estoque' %}" class="estoque-search-bar">
        <input id="barra-busca" type="text" placeholder="Pesquisar por materiais" name="q" autocomplete="off">
        <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = document.getElementById("csrf-token").value;

        $.ajaxSetup({
            headers: { "X-CSRFToken": csrftoken }
        });

        $(function () {
            $("#barra-busca").autocomplete({
                source: "{% url 'buscar_material' %}",
                minLength: 2,
            });
        });
    </script>
    
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <div class="estoque-full-container">
        <div class="material-list">
            {% if materiais %}
                {% for material in materiais %}
                <div class="material-item">
                    <div class="material-left">
                        <img src="{{ material.imagem.url }}" alt="{{ material.descricao }}">
                    </div>
                    <div class="material-center">
                        <h3>{{ material }} ({{ material.codigo }})</h3>
                        <p>{{ material.descricao }}</p>
                    </div>
                    <div class="material-right">
                        <ul>
                            <li>Quantidade no estoque: {{ material.quantidade }}</li>
                            <li>Preço Unitário: R$ {{ material.preco|floatformat:2 }}</li>
                            <li>Data de Entrada: {{ material.date_added }}</li>
                            <li><a style="color: green;" href="{% url 'estoque_registro' material.id %}">Ver registro de transações</a></li>
                        </ul>
                        <a href="{% url 'atualizar_estoque' material.id %}" class="add-button">Atualizar Estoque</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Nenhum material encontrado.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
