{% extends "estoque/base.html" %}

{% block title %}Adicionar novo material{% endblock %}

{% block content %}

    <h2>Adicionar novo material</h2>
    <form method="post">
        {% csrf_token %}
        <p>Material:</p>
        <input type="text" name="material" required>
        <p>Quantidade:</p>
        <input type="number" min="0" name="quantidade" required>
        <p>Preço:</p>
        <input type="number" step="0.01" min="0" name="preco" required>
        <input type="datetime-local" name="date_added" required>
        <button type="submit" name="registrar_material" value="registrar_material">adicionar</button>
    </form>
</body>
</html>

{% endblock %}