{% extends "estoque/base.html" %}

{% block title %}Adicionar novo material{% endblock %}

{% block content %}

    <h2>Adicionar novo material</h2>
    <form method="post">
        {% csrf_token %}
        <p>Material:</p>
        <input type="text" name="material" required>
        <p>Codigo:</p>
        <input type="text" name="codigo" required>        
        <p>Quantidade:</p>
        <input type="number" min="0" name="quantidade" required>
        <p>Preço por item:</p>
        <input type="number" step="0.01" min="0" name="preco" required>
        <p>Descrição:</p>
        <textarea name="descricao" style="width: 400px;" id="descricao" rows="8"></textarea>

        <button type="submit" name="registrar_material" value="registrar_material">adicionar</button>
    </form>
</body>
</html>

{% endblock %}