{% extends "estoque/base.html" %}

{% block title %}Adicionar Pedidos{% endblock %}

{% block content %}
<h1>Registre um Pedido:</h1>
<form method="post">
    {% csrf_token %}
    
    <div style="margin-bottom: 15px;">
        <label for="brinquedos">Escolha um brinquedo:</label>
        <select id="brinquedos" name="brinquedo" required>
            {% for brinquedo in brinquedos %}
                <option value="{{ brinquedo }}">{{ brinquedo }}</option>
            {% empty %}
                <option value="nada">Não há brinquedos registrados</option>
            {% endfor %}
        </select>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label for="clientes">Escolha um cliente:</label>
        <select id="clientes" name="cliente" required>
            {% for cliente in clientes %}
                <option value="{{ cliente }}">{{ cliente }}</option>
            {% empty %}
                <option value="nada">Não há clientes registrados</option>
            {% endfor %}
        </select>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" style="width: 100%;" rows="8"></textarea>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label for="data_de_solicitacao">Data de solicitação:</label>
        <input type="date" id="data_de_solicitacao" name="data_de_solicitacao" required>
    </div>
    
    <div style="margin-bottom: 15px;">
        <label for="data_de_entrega">Data de entrega:</label>
        <input type="date" id="data_de_entrega" name="data_de_entrega" required>
    </div>
    
    <button type="submit" name="registro_pedido" value="pedido">Registrar Pedido</button>
</form>
{% endblock %}
